.card {
    display: inline-block;
    color: #323232;
    width: calc(25% - var(--size));
    max-width: calc(500px - var(--size) * 2);
    border-radius: 5px;
    background-color: #ffffff;
    margin-bottom: var(--size);
    overflow: hidden;
}

.card .img {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    height: 310px;
    position: relative;
}

.card img {
    height: 310px;
    z-index: 1;
    float: left;
}

.card .img span {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 4px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.4);
}

.card .content {
    padding: var(--xs-size) var(--sm-size) var(--sm-size);
}

.card .content table {
    font-size: 10px;
    width: 100%;
    border-collapse: collapse;
}

.card .content td {
    text-align: center;
    position: relative;
    border-bottom: var(--light-gray) 2px solid;
}

.card .content td.border:before {
    content: "";
    position: absolute;
    width: 2px;
    background: var(--light-gray);
    right: -2px;
    top: 20%;
    bottom: 20%;
}

.card .content .info {
    display: inline-block;
    margin-top: 6px;
    font-size: 26px;
    font-weight: bold;
}

.card .content .time {
    color: #ff6d4a;
}

.card .content .value {
    color: #3eb871;
}

.card .content .detail {
    font-size: 14px;
    font-weight: 800;
    height: 60px;
    padding: var(--sm-size) var(--md-size);
}

.card .content .info-numbers {
    font-size: 16px;
}

.card .content .info-numbers td {
    padding: var(--sm-size) 8px;
}

.card .content button {
    margin-top: var(--size);
    padding: var(--sm-size);
    background-color: #3eb871;
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    border-radius: 5px;
    width: 100%;
    border: none;
    cursor: pointer;
}

@media (max-width: 1450px) {
    .card {
        width: calc(33% - var(--size));
    }
}

@media (max-width: 1200px) {
    .card {
        width: calc(50% - var(--size));
    }

    .card .img {
        height: 340px;
    }

    .card img {
        height: 340px;
    }
}

@media (max-width: 890px) {
    .card {
        width: 100%;
        max-width: none;
    }

    .card .img {
        height: 380px;
    }
    .card img {
        height: 480px;
    }
}

@media (max-width: 790px) {
    .card img {
        height: 430px;
    }
}

@media (max-width: 650px) {
    .card img {
        height: 450px;
    }
}
