.header {
    background-color: #ffffff;
    color: #959595;
    font-size: 18px;
    padding: 0px var(--xl-size);
    display: flex;
    align-items: center;
    max-height: 75px;
    position: relative;
}

.header .img {
    height: 100%;
    margin-top: var(--size);
    margin-bottom: var(--size);
}

.logo {
    border-right: var(--light-gray) solid 2px;
    padding-right: var(--lg-size);
    max-height: 43px;
}

.phone {
    max-height: 35px;
    padding-left: var(--lg-size);
    padding-right: var(--size);
}

.user-box {
    border: var(--light-gray) solid 2px;
    position: absolute;
    right: var(--xl-size);
    top: 0;
    bottom: 0;
    width: 30%;
    max-width: 180px;
    text-align: center;
    padding: var(--sm-size);
}

.user-box span {
    color: #323232;
    font-weight: bold;
    font-size: 14px;
    display: block;
}

.user-box .caret {
    position: absolute;
    right: 8px;
}

@media (max-width: 1450px) and (min-width: 1200px) {
    .header {
        padding: 0px var(--lg-size);
    }

    .user-box {
        right: var(--lg-size);
    }
}

@media (max-width: 1200px) and (min-width: 992px) {
}

@media (max-width: 992px) and (min-width: 890px) {
    .header {
        padding: 0px var(--md-size);
    }

    .user-box {
        right: var(--md-size);
    }
}
@media (max-width: 890px) and (min-width: 650px) {
    .header {
        padding: 0px var(--xl-size);
        font-size: 12px;
    }

    .user-box {
        right: var(--xl-size);
        width: 20%;
    }

    .logo {
        padding-right: var(--size);
        max-height: 32px;
    }

    .phone {
        padding-right: var(--xs-size);
        padding-left: var(--size);
        max-height: 26px;
    }
}

@media (max-width: 650px) {
    .header {
        padding: 0px var(--size);
        font-size: 14px;
    }

    .user-box {
        right: var(--size);
        width: 20%;
    }

    .logo {
        padding-right: var(--size);
        max-height: 32px;
    }

    .phone {
        padding-right: var(--xs-size);
        padding-left: var(--size);
        max-height: 26px;
    }
}
