@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;0,700;0,800;1,400&display=swap");

:root {
    --xs-size: 4px;
    --sm-size: 8px;
    --size: 16px;
    --md-size: 32px;
    --lg-size: 64px;
    --xl-size: 120px;
    --light-gray: #ebebeb;
}

.App {
    background-color: var(--light-gray);
    min-height: 100vh;
    font-family: "Open Sans";
}

.w-50 {
    width: 50%;
}

.body {
    margin: 16px var(--xl-size);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
}

@media (max-width: 1450px) and (min-width: 1200px) {
    .body {
        margin: 16px var(--lg-size);
    }
}

@media (max-width: 1200px) and (min-width: 992px) {
}

@media (max-width: 992px) and (min-width: 890px) {
    .body {
        margin: 16px var(--md-size);
    }
}
@media (max-width: 890px) and (min-width: 650px) {
    .body {
        margin: 16px var(--xl-size);
    }
}

@media (max-width: 650px) {
    .body {
        margin: 16px var(--size);
    }
}
